[submodule "themes/FixIt"]
	path = themes/FixIt
	url = https://github.com/hugo-fixit/FixIt
        ignore = dirty
[submodule "public"]
	path = public
	url = https://github.com/hkanagawa/hkanagawa.github.io
        ignore = dirty